body{

    background-image: url("../images/background.jpg");
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
}

.navbar-title{
    background-color:rgb(203, 219, 235);

}
header{
    font-size: 200%;
}

#links{
    font-size: 150%;

}
#link-contact{
    text-align: center;
    font-size: 110%;

}
p{
    font-size:120% ;
}
#web-links{
    font-size: 120% ;

}
#portfolio{
    text-align: center;
}
.title{
    font-family: 'Sacramento', cursive;
    font-size: 250%;
}
#main{
    width: 60%;
}
a#copyright{
    text-align: center;
}

    
